@import "tailwindcss";

* {
    --font-san: "Sansation", sans-serif;
}
*::selection {
    background-color: #D3FD50;
    color: #000;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 13px;
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(94, 94, 94);
    border-radius: 8px;
}

body {
    margin: 0;
    padding : 0;
}
 .hero-t {
  font-family: var(--font-san);
     text-transform: uppercase;
     font-weight: 600; 
     letter-spacing: 3px;
 }
.home-b-text {
      font-family: var(--font-san);
      font-weight: 900;
 }
 .A-f-div  h1{
     font-family: "Fira Sans", sans-serif;
     font-weight: 600;
 }