@import "tailwindcss";

* {
    --font-san: "Sansation", sans-serif;
    --font-fira: "Fira Sans", sans-serif;
}
*::selection {
    background-color: #D3FD50;
    color: #000;
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding : 0;
}
 .hero-t {
  font-family: var(--font-san);
     text-transform: uppercase;
     font-weight: 600; 
     letter-spacing: 3px;
 }
.home-b-text {
      font-family: var(--font-san);
      font-weight: 900;
 }
 .A-f-div  h1{
     font-family: var(--font-fira);
     font-weight: 600;
 }
 .menu-d {
    color: white;
    cursor: pointer;
 }
.Fn-tag {
     font-family: var(--font-san);
}

.moveX {
    animation-duration: 10s;
    animation-name: moveAnimation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes moveAnimation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}