@import "tailwindcss";

* {
    --font-san: "Sansation", sans-serif;
}

body {
    margin: 0;
    padding : 0;
}
 .hero-t {
  font-family: var(--font-san);
     text-transform: uppercase;
     font-weight: 600; 
     letter-spacing: 3px;
 }
.home-b-text {
      font-family: var(--font-san);
      font-weight: 900;
 }
 .A-f-div  h1{
     font-family: "Fira Sans", sans-serif;
     font-weight: 600;
 }